{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
<div>
{% include "info/theme.html" %}
</div>

{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block head%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update your information here</title>

    <style type="text/css">
      html, body {
          background: #eee;
          height: 100%;
      }
    </style>

    <style type="text/css">
    </style>
</head>
{% endblock %}




{% block body %}
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{username}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{media_url}}{{profile_image}}" class="img-rounded img-responsive"> </div>
        <div style="color: #000000" class=" col-md-9 col-lg-9 "> 
          <form enctype="multipart/form-data" method="POST" action="#">{% csrf_token %}
            <table class="table table-user-information">
              <tbody>
                  {% crispy form %}      
              </tbody>
            </table>
            <center><input type="submit" class="btn btn-success" value="Update Profile" /></center>
          </form>
        </div>

      </div>
    </div>
    
  </div>
  <center>
      <p style="color: red">{{status}}</p>
      <br>
  </center>
</div>


{% endblock %}

<!-- {% block body %}

 <body class="valign-wrapper2">
<div class="container expand-on-small-only">
    <div class="row valign change-form">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            <div class="card" style="width:100%;padding-left:45px;padding-right:45px;padding-bottom:45px;">

            <form method="POST">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <button type="submit" name="_submit" class="btn">Update</button>
            </form>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %} -->