{% extends "info/theme.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block head %}
<title>Custom Metrics</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#view_user_info">User Information</a></li>
    </ul>

    <div class="tab-content">

        <div id="view_user_info" class="tab-pane fade in active">
            <h3>Hello User, please find your basic information here</h3>
        </div>


    </div>

</div>


<!-- Basic setup -->
<script type="text/javascript">
    $(function(){
        $("#hashtags_tab").removeClass("active");
        $("#mentions_tab").removeClass("active");
        $("#urls_tab").removeClass("active");
        $("#custom_metrics_tab").addClass("active");
        $("#alerts_tab").removeClass("active");
        $("#create_query_tab").removeClass("active");
    });
    var x_vals = [];
    var y_vals = [];
    var metric_name = "";
</script>

<!-- Plotting and creating table -->
<script type="text/javascript">
    function plot(x_, y_,title_,x_label,y_label,div_id) {
        var data = [{
            x: x_,
            y: y_,
            type: 'line'
        }];
        var layout = {
            title: title_,
            xaxis: {
                title: x_label,
                // showgrid: false,
                zeroline: false
            },
            yaxis: {
                title: y_label,
                // showline: false
            }
        };
        $("#"+div_id).html("");
        Plotly.newPlot(div_id, data, layout);
    }
    function create_table(x_,y_,div_id) {
        trHTML = '<div class="col-sm-4"><ul class="list-group">';
        $.each(x_, function (i, item) {
            trHTML += '<li class="list-group-item">' + x_[i] + '<span class="badge">' + y_[i].toString() + '</span></li>';
        });
        trHTML += '</ul></div>';
        $("#"+div_id).html(trHTML);
    }
</script>

<!-- On click kind of functions -->
<script type="text/javascript">
    $(document).ready(function() {
        var frm = $('#custom_metrics_form_id');
        frm.submit(function() {
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    console.log(data);
                    x_vals = data.x;
                    y_vals = data.y;
                    metric_name = $("#id_metric :selected").text();
                    plot(x_vals, y_vals,'Result for metric: '+metric_name,'','','custom_metric_space');
                },
                error: function(data) {
                    $("#custom_metric_space").html("Something went wrong!");
                }
            });
            return false;
        });
        $("#plot_graph").click(function(){
            plot(x_vals, y_vals,'Result for metric: '+metric_name,'','','custom_metric_space');
        });
        $("#create_table").click(function(){
            create_table(x_vals, y_vals,'custom_metric_space');
        });
        $("#view_query_link").on('click', function(){
            var newWindow = window.open();
            query_ = $("#id_query :selected").text();
            $.ajax({
                type: "post",
                url: "/view_query_handler/",
                data: {query:query_},
                success: function (data) {
                    console.log(data);
                    newWindow.document.write("<pre>"+data.query+"</pre>");
                },
                error: function(data) {
                    newWindow.document.write("Something went wrong!");
                }
            });
            return true;
        });
        $("#delete_query_link").on('click', function(){
            query_ = $("#id_query :selected").text();
            $.post("/delete_query_handler/",
                {query:query_},
                function(data) {
                    console.log(data);
                    window.location.replace(data.url);
                }
            );
            return true;
        });
        $("#view_post_proc_link").on('click', function(){
            var newWindow = window.open();
            post_proc_ = $("#id_post_processing_function :selected").text();
            $.ajax({
                type: "post",
                url: "/view_post_proc_handler/",
                data: {post_proc:post_proc_},
                success: function (data) {
                    console.log(data);
                    newWindow.document.write("<pre>"+data.post_proc+"</pre>");
                },
                error: function(data) {
                    newWindow.document.write("Something went wrong!");
                }
            });
            return true;
        });
        $("#delete_post_proc_link").on('click', function(){
            post_proc_ = $("#id_post_processing_function :selected").text();
            $.post("/delete_post_proc_handler/",
                {post_proc:post_proc_},
                function(data) {
                    console.log(data);
                    window.location.replace(data.url);
                });
            return true;
        });

    });
</script>

{% endblock %}
